.header {
	grid-area: header;
	background-color: var(--color-one);
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: 100vh;
}
.logo {
	max-width: auto;
	max-height: 150px;
}
.header-titles {
	flex: 4 0 600px;
}

h1 {
	font-family: var(--font-style-1);
	font-size: calc(2vw + 2em);
	padding: 2.5%;
	padding-left: 5%;
	font-weight: bolder;
	color: var(--color-two);
	flex-basis: auto;
}

h3 {
	font-family: var(--font-style-1);
	font-size: calc(0.8vw + 0.8em);
	padding-top: 0;
	padding-bottom: 3%;
	padding-left: 5%;
	font-weight: bolder;
	color: var(--color-two);
	flex-basis: auto;
}

.get-started-btn {
	display: block;
	color: black;
    font-weight: bold;
    text-align: center;
	text-decoration: none;
    line-height: 25px;
    width: 115px;
    height: 25px;
    background-color: var(--color-three);
    border-radius: 5px;
    padding: 10px;
	margin-left: 5%;
}