.header {
	grid-area: header;
	background-color: var(--color-one);
	display: flex;
	flex-grow: 1;
	align-items: center;
	height: fit-content;
}
.logo {
	max-width: auto;
	max-height: 150px;
}
.header-titles {
	flex: 4 0 600px;
}

h1 {
	font-family: var(--font-style-1);
	font-size: calc(2vw + 2em);
	padding: 2.5%;
	padding-left: 5%;
	font-weight: bolder;
	color: var(--color-two);
	flex-basis: auto;
	letter-spacing: 5px;
}

h3 {
	font-family: var(--font-style-1);
	font-size: calc(0.8vw + 0.8em);
	padding-top: 0;
	padding-bottom: 3%;
	padding-left: 5%;
	font-weight: bolder;
	color: var(--color-two);
	flex-basis: auto;
}
