.post {
	flex-basis: auto;
	height: auto;
	min-width: 30%;
	/* margin: 2em; */
	padding: 0.8em;
	background-color: var(--color-five);
	border-radius: 8px;
	/* cursor: pointer; */
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
	transition: 0.3s;
	font-family: var(--font-style-2);
	color: black;
	font-weight: 400;
	flex: 0 1 0px;
	word-wrap: break-word;
}

.post:hover {
	box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

.post-header {
	/* border: 1px solid red; */
	display: flex;
	justify-content: space-between;
	align-items: baseline;
	/* margin-top: .5px; */
}

.post-week,
.post-tags {
	font-size: 0.8em;
}
.post-tags {
	margin-top: 5px;
	margin-bottom: 5px;
}

.post-description-link {
	text-decoration: none;
	color: black;
	word-wrap: break-word;
}
.word-wrap {
	word-wrap: break-word;
}

.post-description-link:hover {
	color: var(--color-one);
	word-wrap: break-word;
}

.post-description {
	display: flex;
	align-items: center;
	padding-bottom: 10px;
}

.material-icons {
	padding-left: 2px;
	padding-right: 5px;
	height: 80%;
	width: 80%;
}
.tags-span {
	background-color: var(--color-four);
	padding-left: 10px;
	padding-top: 3px;
	padding-bottom: 3px;
	padding-right: 10px;
	border-radius: 16px;
	text-align: center;
	color: white;
}

.tags-span:hover {
	cursor: pointer;
	background-color: var(--color-four-hover);
}

.delete-button:hover {
	cursor: pointer;
	color: var(--color-four);
}
